[Unit]
Description=Installer for Speakup
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/speakup-installer
PIDFile=/var/run/speakup-installer.pid
ExecStart=/usr/bin/speakup-installer --daemon $OPTIONS
ExecStop=/bin/kill -9 $MAINPID
Restart=never

[Install]
WantedBy=multi-user.target
